.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 10px;
}

.lastUpdate {
  font-size: 16px;
}

h3 {
  margin: 0;
}

.good {
  background-color: #64e291;
}

.warning {
  background-color: #e6e56c;
}

.danger {
  background-color: #eb7070;
}

.refresh {
  display: block;
  margin-top: 10px;
  font-size: 24px;
  padding: 10px;
  line-height: 1;
}
